# PyTorch is installed via conda (DO NOT put torch here)

# ML / CV
timm
albumentations
opencv-python
Pillow

# Data & utils

numpy
scikit-learn
matplotlib
seaborn
tqdm
requests
grad-cam

# Demo / UI
gradio